<header>
  <% include partials/nav.ejs %>
</header>


<div class="container text-center my-auto" style="background:transparent url('../public/images/pencils.jpg') no-repeat center center /cover">
    <h1 class="mb-4 mt-5">Welcome back, <%= name %>!</h1>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/students/logout"
      >Logout</a
    >
  </div>
  <div class="overlay"></div>
  
