<div id="page-top">
  <% include partials/nav.ejs %>

  <!-- Header -->
  <section class="page-section">
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Online English Lessons</div>
          <div class="intro-heading">Learning Made Easy</div>
          <a
            class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
            href="#services"
            id="learnMoreBtn"
            style=""
            >Read More</a
          >
        </div>
      </div>
    </header>
  </section>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Mission</h2>
          <h3 class="section-subheading text-muted">
            Our mission is to provide 1-on-1 online tutoring to help you speak, read, and write English. 
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Simple</h4>
          <p class="text-muted">
            asdfasdf
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Affordable</h4>
          <p class="text-muted">
            yiopiop
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Flexible</h4>
          <p class="text-muted">
            gjk
          </p>
        </div>
      </div>
    </div>
  </section>

  

  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Get Started</h2>
          <h3 class="section-subheading text-muted">
            It's as easy as A-B-C!
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img
                  class="rounded-circle img-fluid"
                  src="img/about/1.jpg"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Step 1</h4>
                  <h4 class="subheading">Buy a</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img
                  class="rounded-circle img-fluid"
                  src="img/about/2.jpg"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img
                  class="rounded-circle img-fluid"
                  src="img/about/3.jpg"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">

                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img
                  class="rounded-circle img-fluid"
                  src="img/about/4.jpg"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4> </h4>
                  <h4 class="subheading"> </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">

                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4> <br /><br /></h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!---------------------------------------------------------- Plans Grid ----------------------------------------------------------------------->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Plans</h2>
          <h3 class="section-subheading text-muted">
            Choose from three subscription plans below:
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/style/images/01-thumbnail.jpg"
              alt=""
            />
          </a>
          <div class="portfolio-caption">
            <h4>Free Trial</h4>
            <p class="text-muted">1 Lesson / Month</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/style/images/01-thumbnail.jpg"
              alt=""
            />
          </a>
          <div class="portfolio-caption">
            <h4>Normal</h4>
            <p class="text-muted">4 Lessons / Month</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-fluid"
              src="/style/images/01-thumbnail.jpg"
              alt=""
            />
          </a>
          <div class="portfolio-caption">
            <h4>Priority</h4>
            <p class="text-muted">8 Lessons / Month</p>
          </div>
        </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Tutors</h2>
          <h3 class="section-subheading text-muted">
           yoooo
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="" />
            <h4></h4>
            <p class="text-muted"> </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="" />
            <h4> </h4>
            <p class="text-muted"> </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="" />
            <h4> </h4>
            <p class="text-muted"> </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">

          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img
              class="img-fluid d-block mx-auto"
              src="img/logos/designmodo.jpg"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img
              class="img-fluid d-block mx-auto"
              src="img/logos/themeforest.jpg"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img
              class="img-fluid d-block mx-auto"
              src="img/logos/creative-market.jpg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">

          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    id="name"
                    type="text"
                    placeholder="Your Name *"
                    required="required"
                    data-validation-required-message="Please enter your name."
                  />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    id="email"
                    type="email"
                    placeholder="Your Email *"
                    required="required"
                    data-validation-required-message="Please enter your email address."
                  />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    id="phone"
                    type="tel"
                    placeholder="Your Phone *"
                    required="required"
                    data-validation-required-message="Please enter your phone number."
                  />
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="message"
                    placeholder="Your Message *"
                    required="required"
                    data-validation-required-message="Please enter a message."
                  ></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button
                  id="sendMessageBtn"
                  class="btn btn-secondary btn-xl text-uppercase"
                  type="submit"
                >
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; SideTutor 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal1"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase"> </h2>
                <p class="item-intro text-muted">
       
                </p>
                <img
                  class="img-fluid d-block mx-auto"
                  src="/style/images/01-thumbnail.jpg"
                  alt=""
                />
                <p>
   
                </p>
                <ul class="list-inline">
                  <li> </li>
                  <li></li>
                  <li> </li>
                </ul>
                <button
                  class="btn btn-primary"
                  data-dismiss="modal"
                  type="button"
                >
                  <i class="fas fa-times"></i>
                  Close 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal2"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase"> </h2>
                <p class="item-intro text-muted">
    
                </p>
                <img
                  class="img-fluid d-block mx-auto"
                  src="/style/images/01-thumbnail.jpg"
                  alt=""
                />
                <p>

                </p>
                <ul class="list-inline">
                  <li>  </li>
                  <li> </li>
                  <li>  </li>
                </ul>
                <button
                  class="btn btn-primary"
                  data-dismiss="modal"
                  type="button"
                >
                  <i class="fas fa-times"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal3"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase"> </h2>
                <p class="item-intro text-muted">
                
                </p>
                <img
                  class="img-fluid d-block mx-auto"
                  src="/style/images/01-thumbnail.jpg"
                  alt=""
                />
                <p>
   
                </p>
                <ul class="list-inline">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <button
                  class="btn btn-primary"
                  data-dismiss="modal"
                  type="button"
                >
                  <i class="fas fa-times"></i>
                  Close 
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 