<header>
  <% include partials/nav.ejs %>
</header>

<div class="container text-center my-auto" style="background:transparent url('../public/images/pencils.jpg') no-repeat center center /cover">
  <h1 class="mb-4 mt-5">Learn English Online</h1>
  <h3 class="mb-5">
    <em>Our tutors are North American natives ready to teach!</em>
  </h3>
  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
    >Find Out More</a
  >
</div>
<div class="overlay"></div>
